.dashboard {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: white;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}


.task-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.task-form input,
.task-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.task-form button {
  background: #00e676;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}


.task-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}


.task-card {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.task-card:hover {
  transform: scale(1.01);
}

.task-card h3 {
  margin-bottom: 5px;
}


.btn-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit {
  background: #ffd600;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete {
  background: #ff1744;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}